<%= form_with(model: cb_person, local: true) do |form| %>
  <% if cb_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cb_person.errors.count, "error") %> prohibited this cb_person from being saved:</h2>

      <ul>
      <% cb_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.text_field :object_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthplace %>
    <%= form.text_field :birthplace %>
  </div>

  <div class="field">
    <%= form.label :affiliation_name %>
    <%= form.text_field :affiliation_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
