<p id="notice"><%= notice %></p>

<p>
  <strong>Funding round:</strong>
  <%= @cb_funding_round.funding_round %>
</p>

<p>
  <strong>Object:</strong>
  <%= @cb_funding_round.object %>
</p>

<p>
  <strong>Funded at:</strong>
  <%= @cb_funding_round.funded_at %>
</p>

<p>
  <strong>Funding round type:</strong>
  <%= @cb_funding_round.funding_round_type %>
</p>

<p>
  <strong>Funding round code:</strong>
  <%= @cb_funding_round.funding_round_code %>
</p>

<p>
  <strong>Raised amount usd:</strong>
  <%= @cb_funding_round.raised_amount_usd %>
</p>

<p>
  <strong>Raised amount:</strong>
  <%= @cb_funding_round.raised_amount %>
</p>

<p>
  <strong>Raised currency code:</strong>
  <%= @cb_funding_round.raised_currency_code %>
</p>

<p>
  <strong>Pre money valuation usd:</strong>
  <%= @cb_funding_round.pre_money_valuation_usd %>
</p>

<p>
  <strong>Pre money valuation:</strong>
  <%= @cb_funding_round.pre_money_valuation %>
</p>

<p>
  <strong>Pre money currency code:</strong>
  <%= @cb_funding_round.pre_money_currency_code %>
</p>

<p>
  <strong>Post money valuation usd:</strong>
  <%= @cb_funding_round.post_money_valuation_usd %>
</p>

<p>
  <strong>Post money valuation:</strong>
  <%= @cb_funding_round.post_money_valuation %>
</p>

<p>
  <strong>Post money currency code:</strong>
  <%= @cb_funding_round.post_money_currency_code %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @cb_funding_round.participants %>
</p>

<p>
  <strong>Is first round:</strong>
  <%= @cb_funding_round.is_first_round %>
</p>

<p>
  <strong>Is last round:</strong>
  <%= @cb_funding_round.is_last_round %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @cb_funding_round.source_url %>
</p>

<p>
  <strong>Source description:</strong>
  <%= @cb_funding_round.source_description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @cb_funding_round.created_by %>
</p>

<%= link_to 'Edit', edit_cb_funding_round_path(@cb_funding_round) %> |
<%= link_to 'Back', cb_funding_rounds_path %>
