<%= form_with(model: cb_ipo, local: true) do |form| %>
  <% if cb_ipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cb_ipo.errors.count, "error") %> prohibited this cb_ipo from being saved:</h2>

      <ul>
      <% cb_ipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ipo_id %>
    <%= form.text_field :ipo_id %>
  </div>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.text_field :object_id %>
  </div>

  <div class="field">
    <%= form.label :valuation_amount %>
    <%= form.text_field :valuation_amount %>
  </div>

  <div class="field">
    <%= form.label :valuation_currency_code %>
    <%= form.text_field :valuation_currency_code %>
  </div>

  <div class="field">
    <%= form.label :raised_amount %>
    <%= form.text_field :raised_amount %>
  </div>

  <div class="field">
    <%= form.label :raised_currency_code %>
    <%= form.text_field :raised_currency_code %>
  </div>

  <div class="field">
    <%= form.label :public_at %>
    <%= form.date_select :public_at %>
  </div>

  <div class="field">
    <%= form.label :stock_symbol %>
    <%= form.text_field :stock_symbol %>
  </div>

  <div class="field">
    <%= form.label :source_url %>
    <%= form.text_field :source_url %>
  </div>

  <div class="field">
    <%= form.label :source_description %>
    <%= form.text_field :source_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
