<p id="notice"><%= notice %></p>

<h1>Cb Offices</h1>

<table>
  <thead>
    <tr>
      <th>Object</th>
      <th>Office</th>
      <th>Description</th>
      <th>Region</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>Zip code</th>
      <th>State code</th>
      <th>Country code</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cb_offices.each do |cb_office| %>
      <tr>
        <td><%= cb_office.object %></td>
        <td><%= cb_office.office %></td>
        <td><%= cb_office.description %></td>
        <td><%= cb_office.region %></td>
        <td><%= cb_office.address1 %></td>
        <td><%= cb_office.address2 %></td>
        <td><%= cb_office.city %></td>
        <td><%= cb_office.zip_code %></td>
        <td><%= cb_office.state_code %></td>
        <td><%= cb_office.country_code %></td>
        <td><%= cb_office.latitude %></td>
        <td><%= cb_office.longitude %></td>
        <td><%= link_to 'Show', cb_office %></td>
        <td><%= link_to 'Edit', edit_cb_office_path(cb_office) %></td>
        <td><%= link_to 'Destroy', cb_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cb Office', new_cb_office_path %>
