<p id="notice"><%= notice %></p>

<p>
  <strong>Object:</strong>
  <%= @cb_office.object %>
</p>

<p>
  <strong>Office:</strong>
  <%= @cb_office.office %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cb_office.description %>
</p>

<p>
  <strong>Region:</strong>
  <%= @cb_office.region %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @cb_office.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @cb_office.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @cb_office.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @cb_office.zip_code %>
</p>

<p>
  <strong>State code:</strong>
  <%= @cb_office.state_code %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @cb_office.country_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cb_office.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cb_office.longitude %>
</p>

<%= link_to 'Edit', edit_cb_office_path(@cb_office) %> |
<%= link_to 'Back', cb_offices_path %>
