<p id="notice"><%= notice %></p>

<h1>Cb Milestones</h1>

<table>
  <thead>
    <tr>
      <th>Object</th>
      <th>Milestone at</th>
      <th>Milestone code</th>
      <th>Description</th>
      <th>Source url</th>
      <th>Source description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cb_milestones.each do |cb_milestone| %>
      <tr>
        <td><%= cb_milestone.object %></td>
        <td><%= cb_milestone.milestone_at %></td>
        <td><%= cb_milestone.milestone_code %></td>
        <td><%= cb_milestone.description %></td>
        <td><%= cb_milestone.source_url %></td>
        <td><%= cb_milestone.source_description %></td>
        <td><%= link_to 'Show', cb_milestone %></td>
        <td><%= link_to 'Edit', edit_cb_milestone_path(cb_milestone) %></td>
        <td><%= link_to 'Destroy', cb_milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cb Milestone', new_cb_milestone_path %>
