<%= form_with(model: cb_fund, local: true) do |form| %>
  <% if cb_fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cb_fund.errors.count, "error") %> prohibited this cb_fund from being saved:</h2>

      <ul>
      <% cb_fund.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fund_id %>
    <%= form.text_field :fund_id %>
  </div>

  <div class="field">
    <%= form.label :object_id %>
    <%= form.text_field :object_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :funded_at %>
    <%= form.date_select :funded_at %>
  </div>

  <div class="field">
    <%= form.label :raised_amount %>
    <%= form.text_field :raised_amount %>
  </div>

  <div class="field">
    <%= form.label :raised_currency_code %>
    <%= form.text_field :raised_currency_code %>
  </div>

  <div class="field">
    <%= form.label :source_url %>
    <%= form.text_field :source_url %>
  </div>

  <div class="field">
    <%= form.label :source_description %>
    <%= form.text_field :source_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
