<p id="notice"><%= notice %></p>

<h1>Cb Degrees</h1>

<table>
  <thead>
    <tr>
      <th>Object</th>
      <th>Degree type</th>
      <th>Subject</th>
      <th>Institution</th>
      <th>Graduated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cb_degrees.each do |cb_degree| %>
      <tr>
        <td><%= cb_degree.object %></td>
        <td><%= cb_degree.degree_type %></td>
        <td><%= cb_degree.subject %></td>
        <td><%= cb_degree.institution %></td>
        <td><%= cb_degree.graduated_at %></td>
        <td><%= link_to 'Show', cb_degree %></td>
        <td><%= link_to 'Edit', edit_cb_degree_path(cb_degree) %></td>
        <td><%= link_to 'Destroy', cb_degree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cb Degree', new_cb_degree_path %>
