<p id="notice"><%= notice %></p>

<div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'btn btn-search', :name => nil%>  
      
      
    </div>  

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Logo url</th>
      <th scope="col">Name</th>
      <th scope="col">Tag list</th>
      <th scope="col">Overview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	  
    <% @cb_objects.take(5).each do |cb_object| %>
      <tr>
        <td scope="row"><% if cb_object.logo_url %><%= image_tag cb_object.logo_url %><% end %></td>
        <td scope="row"><%= cb_object.name %></td>
        <td scope="row"><%= cb_object.tag_list %></td>
        <td scope="row"><%= truncate(cb_object.overview, :length => 100) %></td>
        <td scope="row"><%= link_to 'Show', cb_object, :class => "btn btn-info" %></td>
        <td scope="row"><%= link_to 'Edit', edit_cb_object_path(cb_object), :class => "btn btn-warning" %></td>
        <td scope="row"><%= link_to 'Destroy', cb_object, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
 

