<p id="notice"><%= notice %></p>

<p>
  <strong>Entity type:</strong>
  <%= @cb_object.entity_type %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @cb_object.entity_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @cb_object.parent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cb_object.name %>
</p>

<p>
  <strong>Normalized name:</strong>
  <%= @cb_object.normalized_name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @cb_object.permalink %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @cb_object.category_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cb_object.status %>
</p>

<p>
  <strong>Founded at:</strong>
  <%= @cb_object.founded_at %>
</p>

<p>
  <strong>Closed at:</strong>
  <%= @cb_object.closed_at %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @cb_object.domain %>
</p>

<p>
  <strong>Homepage url:</strong>
  <%= @cb_object.homepage_url %>
</p>

<p>
  <strong>Twitter username:</strong>
  <%= @cb_object.twitter_username %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= image_tag @cb_object.logo_url %>
</p>

<p>
  <strong>Logo width:</strong>
  <%= @cb_object.logo_width %>
</p>

<p>
  <strong>Logo height:</strong>
  <%= @cb_object.logo_height %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @cb_object.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cb_object.description %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @cb_object.overview %>
</p>

<p>
  <strong>Tag list:</strong>
  <%= @cb_object.tag_list %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @cb_object.country_code %>
</p>

<p>
  <strong>State code:</strong>
  <%= @cb_object.state_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @cb_object.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @cb_object.region %>
</p>

<p>
  <strong>First investment at:</strong>
  <%= @cb_object.first_investment_at %>
</p>

<p>
  <strong>Last investment at:</strong>
  <%= @cb_object.last_investment_at %>
</p>

<p>
  <strong>Investment rounds:</strong>
  <%= @cb_object.investment_rounds %>
</p>

<p>
  <strong>Invested companies:</strong>
  <%= @cb_object.invested_companies %>
</p>

<p>
  <strong>First funding at:</strong>
  <%= @cb_object.first_funding_at %>
</p>

<p>
  <strong>Last funding at:</strong>
  <%= @cb_object.last_funding_at %>
</p>

<p>
  <strong>Funding rounds:</strong>
  <%= @cb_object.funding_rounds %>
</p>

<p>
  <strong>Funding total usd:</strong>
  <%= @cb_object.funding_total_usd %>
</p>

<p>
  <strong>First milestone at:</strong>
  <%= @cb_object.first_milestone_at %>
</p>

<p>
  <strong>Last milestone at:</strong>
  <%= @cb_object.last_milestone_at %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @cb_object.milestones %>
</p>

<p>
  <strong>Relationships:</strong>
  <%= @cb_object.relationships %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @cb_object.created_by %>
</p>

<%= link_to 'Edit', edit_cb_object_path(@cb_object) %> |
<%= link_to 'Back', cb_objects_path %>
